.bg-bluePrimaryBrand{
    background-color: #002688;
}

.bg-yellowPrimaryBrand{
    background-color: #FDCF0B;
}

.btn-yellowBrand{
    background-color: #FDCF0B;
    border: #FDCF0B;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
}

.btn-yellowBrand:hover{
    background-color: #d6af00;
    color: #fff;
}

.text-white{
    color: #fff;
}
.text-yellow{
    color: #FDCF0B;
}
.text-blue{
    color:#002688;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
}
p{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
.unbounded-italic{
    font-style: italic;
}

.unbounded-100 {
    font-weight: 100;
}
.unbounded-200 {
    font-weight: 200;
}
.unbounded-300 {
    font-weight: 300;
}
.unbounded-400 {
    font-weight: 400;
}
.unbounded-500 {
    font-weight: 500;
}
.unbounded-600 {
    font-weight: 600;
}
.unbounded-700 {
    font-weight: 700;
}
.unbounded-800 {
    font-weight: 800;
}
.unbounded-900 {
    font-weight: 900;
}

.navbar-brand{
    display: flex;
    align-items: center;
    img{
        width: 180px;
    }
}

.navbar-nav{
    gap: 30px;

    .nav-link{
        font-family: "Poppins", sans-serif;
        font-size: 14px;
    }
}

.heroSection{
    height: 100svh;
    background: url(../assets/hero-background.jpg) no-repeat center center;
    background-size: cover;
    position: relative;

    
    .overlay{
        background-color: black;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .caption{
        z-index: 2;
        position: relative;
    }
}




