.bg-bluePrimaryBrand{
    background-color: #002688;
}

.bg-blueSecondaryBrand{
    background-color: #0057FF;
}

.bg-yellowPrimaryBrand{
    background-color: #FDCF0B;
}

.btn-yellowBrand{
    background-color: #FDCF0B;
    border: #FDCF0B;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
}

.btn-yellowBrand:hover{
    background-color: #d6af00;
    color: #fff;
}

.text-white{
    color: #fff;
}
.text-yellow{
    color: #FDCF0B;
}
.text-blue{
    color:#002688;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
}
p{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
.unbounded-italic{
    font-style: italic;
}

.unbounded-100 {
    font-weight: 100;
}
.unbounded-200 {
    font-weight: 200;
}
.unbounded-300 {
    font-weight: 300;
}
.unbounded-400 {
    font-weight: 400;
}
.unbounded-500 {
    font-weight: 500;
}
.unbounded-600 {
    font-weight: 600;
}
.unbounded-700 {
    font-weight: 700;
}
.unbounded-800 {
    font-weight: 800;
}
.unbounded-900 {
    font-weight: 900;
}

.navbar-brand{
    display: flex;
    align-items: center;
    img{
        width: 180px;
    }
}

.navbar-nav{
    gap: 30px;

    .nav-link{
        font-family: "Poppins", sans-serif;
        font-size: 14px;
    }
}

.heroSection{
    height: 100svh;
    background: url(../assets/hero-background.jpg) no-repeat center center;
    background-size: cover;
    position: relative;

    
    .overlay{
        background-color: black;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .caption{
        z-index: 2;
        position: relative;

        .heroLeft{
            /* padding-top: 80px */
            height: 100svh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        .heroRight{
            height: 100svh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-content: end;
            padding-bottom: 80px;
        }
    }
}

.affiliateSection{
    padding: 80px 0px;
    text-align: center;
    .affiliateInner{
        padding: 0px 80px;
    }
}

.offersSection{
    padding: 80px 0px;
    text-align: center;
    .cardOffer{
        .cardImage{
            width: 100%;
            height: 180px;
            border-radius: 10px;
            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            margin-bottom: 30px;
        }
    }
}

.sponsorSection{
    padding: 80px 0px;
    .list-item{
        width: 70%;
    }
}

.heroSection.footer{
    height: 500px;
    background: url(../assets/footersection.jpg) no-repeat center center;
    .heroLeft{
        height: 500px;
    }
}



/*Responsive CSS*/
@media screen and (max-width: 768px) {
    .heroSection{
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .caption{
            .heroLeft{
                height: auto;
            }
            .heroRight{
                height: auto;
            }
        }
    }

    .affiliateSection{
        .affiliateInner{
            padding: 0px 0px;
        }
    }

    .sponsorSection{
        .list-item{
            width: 100%;
        }
    }
}